
html {
    --first-level-background: #17212b;
    --second-level-background: #0e1621;
    --third-level-background: #283441;
    --control-color: #5288c1;
    --selection-color: #2e70a5;
    --input-text-color: #adb2b7;
}

body {
    background-color: var(--first-level-background);
    color: white;
    min-width: 300px;
    max-width: 600px;
    margin: 10px auto;
}

p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    height: 26px;
    background-color: var(--control-color);
    color: var(--first-level-background);
    margin: 0;
    padding: 5px;
}

button:active {
    background-color: var(--selection-color);
}

input {
    border: none;
    height: 20px;
    background-color: var(--first-level-background);
    color: var(--input-text-color);
    padding: 3px 5px;
    margin: 0;
}

input:focus {
    outline: none;
}

.menu {
    background-color: var(--second-level-background);
    border-radius: 15px;
    padding: 5px 0 5px 8px;
}

.menu button {
    color: var(--control-color);
}

.menu-tab {
    display: inline-block;
    padding-right: 5px;
    border-right: solid 1px black;
    margin: 2px 5px 2px 0;
}

.menu-tab:last-child {
    border-right: none;
}

.menu-tab button {
    border: none;
    background-color: inherit;
    padding: 5px;
}

.menu-tab.selected button {
    border-radius: 10px;
    background-color: var(--third-level-background);
    color: var(--selection-color);
}

.menu-tab button:hover {
    cursor: pointer;
}

.page {
    position: relative;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--second-level-background);
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 14px;
}

.page-table {
    width: 100%;
    border-collapse: collapse;
    user-select: none;
}

.page-table th, .page-table td {
    text-align: left;
    padding: 10px 5px 10px 5px;
}

.page-table td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: var(--second-level-background);
}


.page-table th:last-child, .page-table td:last-child {
    border-right: none;
}

.page-table tr:last-child td {
    border-bottom: none;
}

.page-table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.page-table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.page-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.page-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.page-table tr {
    background-color: var(--third-level-background);
}

.page-table tr.selected {
    background-color: var(--selection-color);
}

.grouped .price, .grouped .amount, .grouped .total-price,
.history .id, .history .price, .history .weight, .history .total-price, .history .time,
.incomes .income, .incomes .time {
    width: 0;
}

.history .time, .incomes .time {
    white-space: nowrap;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.search-bar {
    width: 65%;
    max-width: 250px;
    min-width: 100px;
}

.search-bar input {
    width: calc(100% - 64px);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search-bar button {
    display: inline-block;
    width: 54px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.controls {
    height: 30px;
    display: flex;
    align-items: center;
}

.controls button {
    border-right: solid 1.5px var(--second-level-background);
    min-width: 45px;
}

.controls button:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.controls button:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: none;
}

.statistic {
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--third-level-background);
    height: 30px;
    box-sizing: border-box;
}

.modal-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgb(0, 0, 0, .5);
}

.modal {
    position: relative;
    margin: 120px auto;
    background-color: var(--second-level-background);
    border-radius: 15px;
    width: 350px;
    height: 180px;
    box-sizing: border-box;
    padding: 20px;

    --opacity: .6;
    --range: 6px;
    --negative-range: -6px;
    --blur: 9px;
    box-shadow: rgba(0, 0, 0, var(--opacity)) var(--range) var(--range) var(--blur),
    rgba(0, 0, 0, var(--opacity)) var(--negative-range) var(--range) var(--blur),
    rgba(0, 0, 0, var(--opacity)) var(--range) var(--negative-range) var(--blur),
    rgba(0, 0, 0, var(--opacity)) var(--negative-range) var(--negative-range) var(--blur);
}

.del-window p {
    margin: 20px 10px 10px 10px;
}

.add-window {
    height: 210px;
}

.modal-controls {
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal-controls button {
    background: none;
    color: var(--control-color);
    padding: 0;
    margin: 0 40px 20px 0;
    font-size: 15px;
    font-weight: bold;
}

.modal-controls button:hover {
    cursor: pointer;
}

.input-row {
    margin-bottom: 20px;
}

.input-row p, .input-row input {
    display: inline-block;
}

.input-row input {
    border-radius: 10px;
}

.input-row .title-label {
    margin-right: 33px;
}

.input-row .price-label {
    margin-right: 27px;
}

.input-row .amount-label {
    margin-right: 11px;
}

.input-row .count-label {
    margin-right: 22px;
}

.input-row .kg-label {
    margin-right: 42px;
}

.input-row .text-input {
    margin-right: 15px;
    width: 67%;
}

.input-row .price-input {
    width: 60px;
}

.input-row .currency-symbol {
    margin: 0 15px 0 5px;
}

.amount-input-container {
    display: inline-block;
}

.count-symbol {
    margin: 0 5px 0 0;
    padding: 0;
}

.kg-symbol {

}

.input-row .amount-input {
    width: 60px;
    margin-right: 5px;
}

.input-row .amount-type-input {
    display: inline-block;
    width: 70px;
    height: 25px;
    background-color: var(--first-level-background);
    color: var(--input-text-color);
    border: none;
    border-radius: 10px;
}

.input-row .amount-type-input:focus {
    outline: none;
}

.date-selector, .date-selector button, .date-selector p {
    display: inline-block;
}

.date-selector {
    height: 30px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--third-level-background);
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
}

.date-selector input[type="date"] {
    position: absolute;
    margin-left: -125px;
    opacity: 0;
    z-index: -1;
}

.date-selector p {
    margin-right: 5px;
    padding: 0;
}

.date-selector button {
    padding: 1px 7px 0 7px;
    margin-right: 5px;
    background-color: var(--first-level-background);
    color: var(--input-text-color);
    border-radius: 10px;
}

.date-selector button:hover {
    cursor: pointer;
}

.controls-switch {
    display: flex;
    align-items: center;
    height: 30px;
}

.controls-switch > p {
    margin-right: 10px;
}

.switch {
    --width: 44px;
    --height: 24px;
    --padding: 3px;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(var(--height) - var(--padding) * 2);
    width: calc(var(--height) - var(--padding) * 2);
    left: var(--padding);
    bottom: var(--padding);
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(var(--width) - var(--height)));
    -ms-transform: translateX(calc(var(--width) - var(--height)));
    transform: translateX(calc(var(--width) - var(--height)));
}
